//== Fonts:
$emBase: 14px;
$letter-spacing: 0.02em;
$line-height: 1.5em;
$letter-spacingPx: 0px;
// $font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
// $font-size-base:          14px !default;
// $line-height-base:        1.428571429 !default; // 20/14


//== Colors:
$brand-primary: black;
$link-color: #2e2d2c;
$text-color: black;
$lineColor: #e1e2e3;
$whiteColor: #fff;
$beigeColor: #f4f3f1;
$grayColor: #e1e2e3;
$darkColor: #2e2d2c;
$borderDarkColor: #5c5a58;
$darkerColor: #171717;


$font-path:        "fonts" !default;
$plainThinFont: 'PlainThin', arial, helvetica, sans-serif;
$nationale-font: "Nationale", Arial, Helvetica, sans-serif;
$korgo-font: "KorGo", Arial, Helvetica, sans-serif;
  