@import "animate";
@import "variables";
@import "ultilities";
@import "fontface";
@import "scrollbar";



* {
    margin: 0; 
    padding: 0;
}

*:focus {
    outline: 0; 
}

button {
    background: none;
    border: 0px;    
}

button:focus {
    outline: 0; 
}

body {
    font-family: $plainThinFont;
    letter-spacing: $letter-spacing;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-size: $emBase;
    line-height: $line-height;
    letter-spacing: $letter-spacingPx;
}

small, .small {
    font-size: 12px;
}

a,
a:active,
a:focus {
    color: $link-color;
    text-decoration: underline;     
    -webkit-transition: color 0.3s linear; 
    transition: color 0.3 linear;
}

a:hover,
a:active:hover,
a:focus:hover {
    color: black; 
}
a:focus,
a:active:focus,
a:focus:focus {
  outline: 0;
}
a.red,
a:active.red,
a:focus.red {
  color: #cc0000;
}
a img,
a:active img,
a:focus img {
  position: relative;
}
a.small,
a:active.small,
a:focus.small {
  font-size: 12px;
  color: #2e2d2c;
}
a.full,
a:active.full,
a:focus.full {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
a.half,
a:active.half,
a:focus.half {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
}
a.half.left,
a:active.half.left,
a:focus.half.left {
  left: 0;
  right: auto;
}
a.half.right,
a:active.half.right,
a:focus.half.right {
  right: 0;
  left: auto;
}
ul {
    list-style-type: none; 
}
ul {
  list-style-type: none;
}
ul.wrapper-content,
ol.wrapper-content {
  padding: 0;
}
ul li.wrapper-shop + .wrapper-shop,
ol li.wrapper-shop + .wrapper-shop {
  margin-top: 30px;
}
ul li.product + .header-block,
ol li.product + .header-block {
  margin-top: 30px;
}
ul.list,
ol.list {
  position: relative;
}
ul.list li,
ol.list li {
  padding-left: 30px;
  position: relative;
}
ul.list li:before,
ol.list li:before {
  content: '';
  position: absolute;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid;
  border-width: 4px;
  left: 15px;
  top: 7px;
  color: #8e8e8e;
}
ul.no-space,
ol.no-space {
  margin-bottom: 0;
}
ul.no-space li,
ol.no-space li {
  margin-bottom: 0;
}
ul li,
ol li {
  margin-bottom: 0.90em;
}
ul li:last-child,
ol li:last-child {
  margin-bottom: 0;
}
ul li ul,
ol li ul {
  padding-left: 30px;
  padding-bottom: 0.90em;
}
ol.styled {
  list-style-type: none;
}
ol.styled li:not(.nested-list-element) {
  position: relative;
  counter-increment: step-counter;
  padding-left: 30px;
}
ol.styled li:not(.nested-list-element):before {
  position: absolute;
  left: 0;
  content: counter(step-counter) "\00a0\2014\00a0";
}
@media (max-width: 767px) {
  nav.side-nav {
    display: none;
  }
}
nav.side-nav ul,
nav.side-nav ul.nav {
  font-size: 13px;
  line-height: 1.5em;
}
nav.side-nav ul li,
nav.side-nav ul.nav li {
  display: block;
  background: transparent;
  white-space: nowrap;
}
nav.side-nav ul li a,
nav.side-nav ul.nav li a {
  color: #2e2d2c;
  background: transparent;
}
nav.side-nav ul li a:hover,
nav.side-nav ul.nav li a:hover {
  text-decoration: underline;
}
nav.side-nav ul li.space,
nav.side-nav ul.nav li.space {
  margin-top: 10px;
}
nav.side-nav ul li.line,
nav.side-nav ul.nav li.line {
  border-top: 1px solid #e1e2e3;
  padding-top: 5px;
  margin-top: 5px;
}
nav.side-nav ul li ul,
nav.side-nav ul.nav li ul {
  padding-bottom: 0;
  display: none;
  font-size: 12px;
  line-height: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
}
nav.side-nav ul li ul li.active a,
nav.side-nav ul.nav li ul li.active a {
  font-family: 'PlainRegular';
}
nav ul,
nav ul.nav {
  padding: 0;
  margin: 0;
}
nav ul.medium-space li,
nav ul.nav.medium-space li {
  margin-right: 1.5em;
}
nav ul.large-space li,
nav ul.nav.large-space li {
  margin-right: 2em;
}
nav ul li,
nav ul.nav li {
  list-style-type: none;
  display: inline-block;
  margin-right: 1em;
  vertical-align: top;
  margin-bottom: 0;
}
nav ul li.hidden-xs,
nav ul.nav li.hidden-xs {
  display: none !important;
}
@media (min-width: 768px) {
  nav ul li.hidden-xs,
  nav ul.nav li.hidden-xs {
    display: inline-block !important;
  }
}
nav ul li.hidden-sm,
nav ul.nav li.hidden-sm {
  display: none !important;
}
@media (min-width: 992px) {
  nav ul li.hidden-sm,
  nav ul.nav li.hidden-sm {
    display: inline-block !important;
  }
}
nav ul li.separator,
nav ul.nav li.separator {
  width: 1px;
  background: #8e8e8e;
  height: 16px;
  padding: 0;
}
@media (min-width: 992px) {
  nav ul li.right-li,
  nav ul.nav li.right-li {
    float: right;
  }
}
nav ul li:last-child,
nav ul.nav li:last-child {
  margin-right: 0em;
}
nav ul li a,
nav ul.nav li a {
  text-decoration: none;
  padding: 0;
}
nav ul li a.red,
nav ul.nav li a.red {
  color: #cc0000;
}
nav ul li a:hover,
nav ul.nav li a:hover {
  background: inherit;
}

section {
    position: relative; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    padding: 30px; 
    background: white;
    z-index: 25;
    
}