// Import plugin and ultilities

@import "animate";
@import "variables";
@import "ultilities";
@import "fontface";
@import "scrollbar";
$brand-primary: black;
$link-color: #2e2d2c;
$text-color: black;
$lineColor: #e1e2e3;
$whiteColor: #fff;
$beigeColor: #f4f3f1;
$grayColor: #e1e2e3;
$darkColor: #2e2d2c;
$borderDarkColor: #5c5a58;
$darkerColor: #171717;
$redColor: #cc0000;

// Import page css

@import './page/homepage.scss';
* {
    margin: 0; 
    padding: 0;
}

*:focus {
    outline: 0; 
}

button {
    background: none;
    border: 0px;    
}

button:focus {
    outline: 0; 
}

body {
    font-family: $plainThinFont;
    letter-spacing: $letter-spacing;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-size: $emBase;
    line-height: $line-height;
    letter-spacing: $letter-spacingPx;
}

small, .small {
    font-size: 12px;
}

a,
a:active,
a:focus {
    color: $link-color;
    text-decoration: underline;     
    -webkit-transition: color 0.3s linear; 
    transition: color 0.3 linear;
}

a:hover,
a:active:hover,
a:focus:hover {
    color: black; 
}
a:focus,
a:active:focus,
a:focus:focus {
  outline: 0;
}
a.red,
a:active.red,
a:focus.red {
  color: $redColor;
}
a img,
a:active img,
a:focus img {
  position: relative;
}
a.small,
a:active.small,
a:focus.small {
  font-size: 12px;
  color: #2e2d2c;
}
a.full,
a:active.full,
a:focus.full {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
a.half,
a:active.half,
a:focus.half {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
}
a.half.left,
a:active.half.left,
a:focus.half.left {
  left: 0;
  right: auto;
}
a.half.right,
a:active.half.right,
a:focus.half.right {
  right: 0;
  left: auto;
}
ul {
    list-style-type: none; 
}
ul {
  list-style-type: none;
}
ul.wrapper-content,
ol.wrapper-content {
  padding: 0;
}
ul li.wrapper-shop + .wrapper-shop,
ol li.wrapper-shop + .wrapper-shop {
  margin-top: 30px;
}
ul li.product + .header-block,
ol li.product + .header-block {
  margin-top: 30px;
}
ul.list,
ol.list {
  position: relative;
}
ul.list li,
ol.list li {
  padding-left: 30px;
  position: relative;
}
ul.list li:before,
ol.list li:before {
  content: '';
  position: absolute;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid;
  border-width: 4px;
  left: 15px;
  top: 7px;
  color: #8e8e8e;
}
ul.no-space,
ol.no-space {
  margin-bottom: 0;
}
ul.no-space li,
ol.no-space li {
  margin-bottom: 0;
}
ul li,
ol li {
  margin-bottom: 0.90em;
}
ul li:last-child,
ol li:last-child {
  margin-bottom: 0;
}
ul li ul,
ol li ul {
  padding-left: 30px;
  padding-bottom: 0.90em;
}
ol.styled {
  list-style-type: none;
}
ol.styled li:not(.nested-list-element) {
  position: relative;
  counter-increment: step-counter;
  padding-left: 30px;
}
ol.styled li:not(.nested-list-element):before {
  position: absolute;
  left: 0;
  content: counter(step-counter) "\00a0\2014\00a0";
}
@media (max-width: 767px) {
  nav.side-nav {
    display: none;
  }
}
nav.side-nav ul,
nav.side-nav ul.nav {
  font-size: 13px;
  line-height: 1.5em;
}
nav.side-nav ul li,
nav.side-nav ul.nav li {
  display: block;
  background: transparent;
  white-space: nowrap;
}
nav.side-nav ul li a,
nav.side-nav ul.nav li a {
  color: #2e2d2c;
  background: transparent;
}
nav.side-nav ul li a:hover,
nav.side-nav ul.nav li a:hover {
  text-decoration: underline;
}
nav.side-nav ul li.space,
nav.side-nav ul.nav li.space {
  margin-top: 10px;
}
nav.side-nav ul li.line,
nav.side-nav ul.nav li.line {
  border-top: 1px solid #e1e2e3;
  padding-top: 5px;
  margin-top: 5px;
}
nav.side-nav ul li ul,
nav.side-nav ul.nav li ul {
  padding-bottom: 0;
  display: none;
  font-size: 12px;
  line-height: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
}
nav.side-nav ul li ul li.active a,
nav.side-nav ul.nav li ul li.active a {
  font-family: 'PlainRegular';
}
nav ul,
nav ul.nav {
  padding: 0;
  margin: 0;
}
nav ul.medium-space li,
nav ul.nav.medium-space li {
  margin-right: 1.5em;
}
nav ul.large-space li,
nav ul.nav.large-space li {
  margin-right: 2em;
}
nav ul li,
nav ul.nav li {
  list-style-type: none;
  display: inline-block;
  margin-right: 1em;
  vertical-align: top;
  margin-bottom: 0;
}
nav ul li.hidden-xs,
nav ul.nav li.hidden-xs {
  display: none !important;
}
@media (min-width: 768px) {
  nav ul li.hidden-xs,
  nav ul.nav li.hidden-xs {
    display: inline-block !important;
  }
}
nav ul li.hidden-sm,
nav ul.nav li.hidden-sm {
  display: none !important;
}
@media (min-width: 992px) {
  nav ul li.hidden-sm,
  nav ul.nav li.hidden-sm {
    display: inline-block !important;
  }
}
nav ul li.separator,
nav ul.nav li.separator {
  width: 1px;
  background: #8e8e8e;
  height: 16px;
  padding: 0;
}
@media (min-width: 992px) {
  nav ul li.right-li,
  nav ul.nav li.right-li {
    float: right;
  }
}
nav ul li:last-child,
nav ul.nav li:last-child {
  margin-right: 0em;
}
nav ul li a,
nav ul.nav li a {
  text-decoration: none;
  padding: 0;
}
nav ul li a.red,
nav ul.nav li a.red {
  color: $redColor;
}
nav ul li a:hover,
nav ul.nav li a:hover {
  background: inherit;
}

section {
    position: relative; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    padding: 30px; 
    background: white;
    z-index: 25;
    
    &.moveback {
      z-index: 15;
    }
    &.notop {
      padding-top: 0px;
    }
    &.nobottom {
      padding-bottom: 0px;
    }
    &.nopadding {
      padding: 0px;
    }
    &.paddinghalf {
      padding: 30px 0;
    }
    &.paddinghalfbottom {
      padding-bottom: 30px;
    }
     &.padding2 {
      padding: 120px 0;
    }
    &.topline {
      border-top: 1px solid $lineColor;
    }
    &.bottomline {
      border-bottom: 1px solid $lineColor;
    }
    &.white {
      background-color: $whiteColor;
    }
    &.beige {
      background-color: $beigeColor;
    }
    &.gray {
      background-color: $grayColor;
    }
    &.dark, &.darker  {
      background-color: $darkColor;
      color: $whiteColor;
    }
    &.dark a, &.darker a {
      color: $whiteColor;
    }
    &.dark a:hover.btn, &.darker a:hover.btn {
      color: $grayColor;
    }
    &.dark.bottomline,
    &.daker.bottomline,
    &.dark.topline,
    &.darker.topline {
      border-color: $borderDarkColor;
    }
    &.darker {
      background-color: $darkerColor;
    }
    &.header {
      background-color: $darkerColor;
    }
    &:empty {
      display: none;
    }
    .section, .header {
      position: realative;
    }
    .section + .section {
      margin-top: 30px;
    }
    
    .header + .section, .header + div {
      margin-top: 30px;
    }
    article {
      position: relative;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin-bottom: 30px;
      overflow: hidden;
      &:last-child {
        margin-bottom: 0;
      }
      .inner {
        position: relative;
        .inner__over {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          filter: alpha(opacity=0);
          -webkit-transition: opacity 0.3s linear;
          transition: opacity 0.3s linear;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-transform: translateZ(0);
        }
        .inner__bottom {
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 0;
          &.slide {
            text-align: left;
            padding: 30px;
            background: rgba(0, 0, 0, 0.6);
            bottom: 0;
            max-height: 79px;
            -webkit-transition: max-height 0.7s ease-out;
            transition: max-height 0.7s ease-out;
            display: block;
            h4 {
              margin-bottom: 30px;
            }
            p {
              margin-bottom: 30px;
              &:last-child {
                margin-bottom: 0px;
              }
            }
          }
        }
        
      }
      &:hover .inner {
        .inner__over {
          opacity: 1;
          filter: alpha(opacity=100);
        }
        .inner_bottom {
          &.slide {
            max-height: 100%;
          }
        }
      }
    }
}
@media (min-width: 768px) {
  section .section + .section {
    margin-top: 60px;
  }
}

@media (min-width: 768px) {
  section {
    .header + .section, .header + div {
      margin-top: 60px;
    }
  }
}

// HEADER

header {
  padding: 15px 0;
  position: relative;
  z-index: 110;
  background: $whiteColor;
  &.nopadding {
    padding: 0;
  }
  &.black {
    background: $darkColor;
    color: $whiteColor;
  }
  .element {
    background: $whiteColor;
    padding: 15px 0;
  }
  &filters {
    height: 46px;
    nav ul {
      font-size: 12px;
      line-height: 1.3em;
      li a {
        color: $darkColor;
        border-bottom: 1px solid white;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear;
        background-color: transparent;
        &:hover {
          text-decoration: none;
        }
      }
    }
    &.show-spy nav ul li.active a {
      border-bottom: 1px solid #2e2d2c;
    }
  }
  .logo {
    margin-top: 4px;
  }
  .btn-scroll {
    position: fixed;
    bottom: 40%;
    right: 20px;
    color: $darkColor;
    border-radius: 3px;
    border: 1px solid $darkColor;
    z-index: 30;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    
    &hover {
      color: $whiteColor;
    }
  }
  &.fixed .btn-scroll {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

b {
  font-weight: normal;
}
i {
  vertical-align: middle;
  &.small {
    font-size: 45px;
  }
  &.medium {
    font-size: 60px;
  }
  &.large {
    font-size: 90px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: 'PlainRegular';
  margin: 0;
  line-height: 1.3em;
  letter-spacing: 0;
}
h1.no-space,
h2.no-space,
h3.no-space,
h4.no-space,
h5.no-space,
h6.no-space {
  margin-top: 0;
}
h1.thin,
h2.thin,
h3.thin,
h4.thin,
h5.thin,
h6.thin {
  font-family: 'PlainThin';
}
h5 {
  font-size: 16px;
  line-height: 1.3em;
}
h6 {
  font-size: 14px;
  line-height: 1.3em;
}
p,
ul {
  margin-top: 0;
  margin-bottom: 20px;
}
p:last-child,
ul:last-child {
  margin-bottom: 0;
}
p.no-space,
ul.no-space {
  margin-top: 0;
}
p.half-bottom,
ul.half-bottom {
  margin-bottom: 10px;
}
hr {
  border-color: #e1e2e3;
  margin: 30px 0;
}
div + article {
  margin-top: 30px;
}
h1 + div,
h2 + div,
h3 + div,
h4 + div,
h1 + h2,
h2 + h2,
h2 + h1,
h1 + h3,
h1 + h4,
h2 + h4,
h2 + h5,
h4 + h2,
h4 + h3,
h5 + h2,
.btn + p,
.btn + div,
h3 + article,
h1 + p,
h2 + p,
h3 + p,
h4 + p,
h1 + ul,
h2 + ul,
h3 + ul,
h1 + ol,
h2 + ol,
h3 + ol,
h4 + ol,
h1 + label,
h2 + label,
h3 + label,
h4 + label,
h1 + table,
h2 + table,
h3 + table,
h4 + table,
ul + div,
ol + div,
ul + p,
ol + p,
h1 + nav,
h2 + nav,
h3 + nav,
h4 + nav,
div + p,
table + p,
form + p {
  margin-top: 20px;
}
h5 + div,
h5 + p,
h4 + ul,
h5 + ul,
h5 + ol,
h5 + label,
h5 + table,
h5 + nav,
h3 + h5 {
  margin-top: 15px;
}
.btn + .small {
  margin-top: 10px;
}
.row.clear-bottom {
  margin-bottom: -30px;
}
h3 + h3,
h4 + h4,
h3 + h2,
h3 + h4 {
  margin-top: 15px;
}
h5 + h4 {
  margin-top: 10px;
}
strong {
  font-weight: normal;
  font-family: 'PlainRegular';
}
img {
  max-width: 100%;
}
img.testimonials {
  border-radius: 100%;
  margin-left: 5px;
}
img.round {
  border-radius: 100%;
}
img.stroke {
  border: 1px solid white;
}

// FORM
form {
  position: relative;
}
form input:focus {
  outline: 0;
}
form h1 + div,
form h2 + div,
form h3 + div,
form h4 + div,
form h5 + div {
  margin-top: 20px;
}
form div + h1,
form div + h2,
form div + h3,
form div + h4,
form div + h5 {
  margin-top: 20px;
}
form .row + .row {
  margin-top: 0px;
}
form label {
  font-weight: normal;
}
form label.large {
  font-size: 16px;
  line-height: 26px;
}
form label:empty {
  display: none;
}
form .left-label {
  margin-right: 1.5em;
}
form .left-label.first {
  display: block;
  margin-right: 0;
}
@media (min-width: 768px) {
  form .left-label.first {
    margin-right: 1.5em;
    display: inline-block;
  }
}
form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="tel"],
form select,
form textarea {
  display: block;
  font-family: 'PlainThin', arial, helvetica, sans-serif;
  letter-spacing: 0.02em;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2e2d2c;
  background: transparent;
  border: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0px;
  width: 100%;
  padding: 0.6em 1em;
  margin: auto;
  margin-bottom: 15px;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
  letter-spacing: 0;
}
form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="email"]:focus,
form input[type="tel"]:focus,
form select:focus,
form textarea:focus {
  background: #f4f3f1;
}
form input[type="text"].error,
form input[type="password"].error,
form input[type="email"].error,
form input[type="tel"].error,
form select.error,
form textarea.error {
  border-color: $redColor;
}
form input[type="text"].parsley-success,
form input[type="password"].parsley-success,
form input[type="email"].parsley-success,
form input[type="tel"].parsley-success,
form select.parsley-success,
form textarea.parsley-success {
  border-color: #bad9af;
}
form input[type="text"].parsley-error,
form input[type="password"].parsley-error,
form input[type="email"].parsley-error,
form input[type="tel"].parsley-error,
form select.parsley-error,
form textarea.parsley-error {
  border-color: $redColor;
}
form input[type="text"].disabled,
form input[type="password"].disabled,
form input[type="email"].disabled,
form input[type="tel"].disabled,
form select.disabled,
form textarea.disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
form input[type="text"].white,
form input[type="password"].white,
form input[type="email"].white,
form input[type="tel"].white,
form select.white,
form textarea.white {
  background: white;
}
form select {
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
}
form .styled-select {
  position: relative;
}
form .styled-select:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  z-index: 10;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
form .styled-select:before.left {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 4px solid;
}
form .styled-select:before.right {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid;
}
form .styled-select:before.top {
  border-bottom: 4px solid;
  border-top: 4px solid transparent;
  border-left: 4px solid transparent;
}
form .styled-select ul.parsley-errors-list {
  display: none;
}
form .textchars {
  position: absolute;
  bottom: -20px;
  right: 0;
  font-size: 12px;
  color: #8e8e8e;
}
form input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  position: relative;
  vertical-align: top;
  margin-right: 0.5em;
  margin-top: 0.27em;
}
form input[type="radio"]:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #2e2d2c;
  border-radius: 12px;
}
form input[type="radio"]:focus {
  outline: 0;
}
form input[type="radio"]:checked:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background: #2e2d2c;
  border-radius: 12px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
form input[type="radio"].large {
  width: 20px;
  height: 20px;
}
form input[type="checkbox"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  position: relative;
  vertical-align: top;
  margin-right: 0.5em;
  margin-top: 0.27em;
}
form input[type="checkbox"]:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #2e2d2c;
}
form input[type="checkbox"]:focus {
  outline: 0;
}
form input[type="checkbox"]:checked:after {
  content: '\2713';
  position: absolute;
  top: 0;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  line-height: 14px;
  font-size: 12px;
}
form input[type="checkbox"].large {
  width: 20px;
  height: 20px;
}
form input[type="checkbox"].large:checked:after {
  width: 20px;
  height: 20px;
  font-size: 18px;
  line-height: 20px;
}
form .message {
  margin-top: 10px;
  color: #8e8e8e;
  display: none;
  font-style: italic;
}
form ul.parsley-errors-list {
  display: none;
}
form button + div {
  margin-top: 15px;
}
form .password {
  display: block;
  margin-top: 10px;
  font-size: 12px;
}
form.dark {
  color: white;
}
form.dark input[type="text"],
form.dark input[type="password"],
form.dark input[type="email"] {
  background: white;
  border-color: white;
  color: #2e2d2c;
}
form.dark input[type="text"].parsley-success,
form.dark input[type="password"].parsley-success,
form.dark input[type="email"].parsley-success {
  border-color: #bad9af;
}
form.dark input[type="text"].parsley-success:focus,
form.dark input[type="password"].parsley-success:focus,
form.dark input[type="email"].parsley-success:focus {
  color: #8fa787;
  background: #e9ffdb;
}
form.dark input[type="text"].parsley-error,
form.dark input[type="password"].parsley-error,
form.dark input[type="email"].parsley-error {
  border-color: #d9afaf;
}
form.dark input[type="text"].parsley-error:focus,
form.dark input[type="password"].parsley-error:focus,
form.dark input[type="email"].parsley-error:focus {
  color: #a78787;
  background: #ffdbdb;
}
form.dark .message {
  color: white;
}
form.dark a {
  color: white;
}
form.no-errors input[type="text"].parsley-error,
form.no-errors input[type="password"].parsley-error,
form.no-errors input[type="email"].parsley-error,
form.no-errors input[type="tel"].parsley-error,
form.no-errors select.parsley-error {
  margin-bottom: 15px !important;
}
form.no-errors ul.parsley-errors-list {
  display: none !important;
}

// OTHER
footer {
  position: relative;
  z-index: 50px;
  text-align: center;
  padding: 15px 0;
}
iframe {
  display: block;
}
blockquote {
  position: relative;
  border: none;
  padding: 0;
  cite {
    display: block;
  }
  p {
    font-size: inherit;
    line-height: inherit;
    &:before {
      content: open-quote;
    }
    &:after {
      content: close-quote;
    }
  }
}
.lang-fr blockquote p {
  quotes: "Â«" "Â»";
}

@media (min-width: 768px) {
  .fixed .element {
    position: fixed;
    width: 100%;
    top: 63px;
    border-bottom: 1px solid #e1e2e3;
  }
}
.fontPackage {
  font-family: $plainThinFont;
  letter-spacing: 0.02em;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.moveback {
  z-index: 10 !important;
  position: relative;
}
.movefront {
  z-index: 30 !important;
  position: relative;
}
.noindex {
  z-index: inherit !important;
}
.positionCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.btn {
  padding: 0.6em 1em;
  border-radius: 0px;
  text-decoration: none;
  color: $whiteColor;
  background: $darkColor;
  box-sizing: border-box;
  letter-spacing: 0;
  transition: all 0.3s linear;
  outline:  none !important;
  &.btn--small {
    font-size: 12px
  }
  &.btn--rounded {
    border-radius: 1rem;
  }
  &.btn--red {
    color: $whiteColor;
    background: $redColor;
    &:hover {
      color: $whiteColor;
      background: #a00a00
    }
  }
}
.btn.btn--white {
  color: #2e2d2c;
  background: white;
}
.btn.btn--white:hover {
  background: #e1e2e3;
  color: #2e2d2c;
}
.btn.btn--beige {
  color: #2e2d2c;
  background: #f4f3f1;
}
.btn.btn--gray {
  color: white;
  background: #cccccc;
}
.btn.btn--gray:hover {
  color: white;
  background: #2e2d2c;
}
.btn.btn--gold {
  color: white;
  background: #b89962;
}
.btn.btn--gold:hover {
  color: white;
  background: #967d51;
}
.btn.btn--blue {
  color: white;
  background: #0e5293;
}
.btn.btn--blue:hover {
  color: #0e5293;
  background: white;
}
.btn.btn--transparent {
  color: #2e2d2c;
  background: transparent;
  border: 1px solid #2e2d2c;
}
.btn.btn--transparent:hover {
  background: #2e2d2c;
  color: white;
}
.btn.btn--transparent.btn--white {
  color: white;
  border-color: white;
}
.btn.btn--transparent.btn--white:hover {
  background: white;
  color: #2e2d2c;
}
.btn.btn--transparent.btn--red {
  color: #cc0000;
  border-color: #cc0000;
}
.btn.btn--transparent.btn--red:hover {
  background: #cc0000;
  color: white;
}
.btn.btn--transparent.btn--gold {
  color: #b89962;
  border-color: #b89962;
}
.btn.btn--transparent.btn--gold:hover {
  color: #2e2d2c;
  background: #b89962;
}
.btn.btn--fb {
  background: #3b5998;
  color: white;
}
.btn.btn--fb:hover {
  background: #23345b;
  color: white;
}
.btn.btn--google {
  background: #df4a32;
  color: white;
}
.btn.btn--google:hover {
  background: #bd3f2b;
  color: white;
}
.btn.btn-error {
  color: white;
  background: #cc0000;
  border-color: #cc0000;
}
.btn.btn-error:hover {
  color: white;
  background: #cc0000;
  border-color: #cc0000;
}
.btn.btn-success {
  color: white;
  background: #45a445;
  border-color: #45a445;
}
.btn.btn-success:hover {
  color: white;
  background: #45a445;
  border-color: #45a445;
}
@media (min-width: 992px) {
  .btn.btn--medium {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .btn.btn--large {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .btn.btn--xlarge {
    font-size: 25px;
  }
}
.btn.disabled,
.btn.btn--disabled {
  opacity: 0.6;
  filter: alpha(opacity=60);
  cursor: default;
}
.btn.disabled:hover,
.btn.btn--disabled:hover {
  color: white;
  background: #2e2d2c;
}
.btn:focus,
.btn:hover {
  background: #8e8e8e;
  color: #2e2d2c;
  text-decoration: none !important;
}
@media (max-width: 768px) {
  .btn.btn--transparent--xs,
  .btn.btn--transparent--xs.btn--white {
    color: #2e2d2c;
    background: transparent;
    border: 1px solid #2e2d2c;
  }
  .btn.btn--transparent--xs:hover,
  .btn.btn--transparent--xs.btn--white:hover {
    background: #2e2d2c;
    color: white;
  }
  .btn.btn--red--xs,
  .btn.btn--red--xs.btn--white {
    color: white;
    background: #cc0000;
  }
  .btn.btn--red--xs:hover,
  .btn.btn--red--xs.btn--white:hover {
    background: #a00a00;
    color: white;
  }
}
.btn-float {
  position: fixed;
  padding: 10px;
  padding-bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  bottom: 0px;
  padding-bottom: 30px;
  color: white;
  text-align: center;
  cursor: pointer;
  z-index: 50;
}
.btn-float .caret {
  position: absolute;
  left: 50%;
  margin-left: -5px;
  bottom: 20px;
}
.btn-float:hover .caret {
  bottom: 15px;
}

// CTA
.bold {
  font-family: 'PlainRegular';
}
.cta,
a.cta {
  cursor: pointer;
  font-family: 'PlainRegular';
  display: inline;
  border-bottom: 1px solid #2e2d2c;
  text-decoration: none;
}
.cta:hover,
a.cta:hover {
  text-decoration: none !important;
}
.cta.cta--white,
a.cta.cta--white {
  border-color: white;
}
.cta.cta--dark,
a.cta.cta--dark {
  border-color: white;
  color: white;
}
.cta.cta--gold,
a.cta.cta--gold {
  border-color: #b89962;
  color: #b89962;
}
.cta.cta--red,
a.cta.cta--red {
  border-color: $redColor;
  color: $redColor;
}